---
import MainLayout from "@/layouts/MainLayout.astro";
import Button from "@/components/Button.astro";
import { getCollection } from "astro:content";
import type { MarkdownContent, MarkdownHeading } from "astro";
const portfolio = await getCollection("portfolio");
const pinnedPortfolio = portfolio.filter(
  (item: any) => item.data.pinned == true
);
---

<MainLayout title="Work" desc="">
  <div class="content">
    <h1 class="hidden">My Work</h1>
    <h2>My Favourites</h2>
    <div class="flex flex-col gap-4 px-10">
      {
        pinnedPortfolio.map((item: any) => (
          <div class="flex gap-12 items-center even:flex-row-reverse">
            <img
              src={`/images/${item.slug}-show.webp`}
              class="size-80 object-contain"
            />
            <div class="flex flex-col gap-6">
              <h3>{item.data.name}</h3>
              <p>{item.body}</p>
              <div class="flex gap-4">
                <Button href={item.data.url} external>
                  {item.data.type == "App" ? "Download" : "Visit"}
                </Button>
                <Button href={`/en/work/${item.slug}`} variant="outlined">
                  Learn More
                </Button>
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <h2>All My Work</h2>
    <div class="flex flex-wrap gap-4">
      {
        portfolio.map((item: any) => (
          <a
            class="flex gap-4 items-center font-bold bg-white/50 rounded-md p-2 flex-1"
            href={`/en/work/${item.slug}`}
          >
            <img
              src={`/images/${item.slug}.webp`}
              class="size-12 object-contain"
            />
            <p>{item.data.name}</p>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>

<style>
  .content {
    gap: 1rem;
  }
</style>
