---
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
    title: string;
    desc: string;
    kw?: string;
    lang?: "en" | "es";
    canon?: string;
    alt?: string;
    robots?: string;
}

const {
    lang = "en",
    title,
    desc,
    kw,
    canon,
    alt,
    robots = "index, follow",
} = Astro.props;
---

<script>
    const favicon = document.getElementById("favicon") as HTMLLinkElement;

    document.addEventListener("visibilitychange", () => {
        const hidden = document.hidden;

        favicon.setAttribute("href", `/favicon${hidden ? "-hidden" : ""}.ico`);
    });
</script>

<html lang={lang}>
    <head>
        <!-- COMMON TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Pablo Gamero García" />
        <meta name="language" content={lang} />
        <meta name="robots" content={robots} />
        <link
            id="favicon"
            rel="icon"
            type="image/svg+xml"
            href="/favicon.ico"
        />
        <meta name="generator" content={Astro.generator} />
        <meta http-equiv="Cache-control" content="public" />
        <!-- END COMMON TAGS -->

        <title>{title}</title>
        <meta name="description" content={desc} />
        <meta name="keywords" content={kw} />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={desc} />
        <meta property="og:image" content="/favicon.ico" />
        {canon && <meta property="og:url" content={canon} />}
        <meta property="og:type" content="website" />

        {canon && <link rel="canonical" href={canon} />}
        {alt && (
            <link
                rel="alternate"
                hreflang={lang == "en" ? "es" : "en"}
                href={alt}
            />
        )}

        <!-- TWITTER -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={desc} />
        <meta name="twitter:image" content="/favicon.ico" />
        {canon && <meta name="twitter:url" content={canon} />}
        <ClientRouter />
    </head>

    <body>
        <main>
            <slot />
        </main>
        <Footer />
        <style is:global>
            * {
                font-family: "Satoshi", sans-serif;
                box-sizing: border-box;
                padding: 0;
                margin: 0;
            }

            :root {
                --primary: #61ccba;
                --secondary: #4b98ca;
                --black: #1e1e1e;
                --white: #f1f1f1;
                --pastel1: #cfe6cf; /* Pastel Green */
                --pastel2: #fdeca6; /* Pastel Yellow */
                --pastel3: #d8cbea; /* Pastel Purple */
                --pastel4: #ffdab9; /* Pastel Peach */
                --pastel5: #e3d9ff; /* Pastel Lavender */
                --pastel6: #b7e4c7; /* Pastel Mint */
                --pastel7: #ff9e94; /* Pastel Coral */
                --pastel8: #dbc3e3; /* Pastel Lilac */
                --content: rgba(0, 0, 0, 0.4);
                --content-foreground: #e1e1e1;
            }

            html {
                overflow: hidden;
            }

            html,
            body {
                display: flex;
                flex-direction: column;
                height: 100vh;
                width: 100vw;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding-block: 4px;
                align-items: center;
                justify-content: start;
            }
            body {
                background-image: url("/images/bg.svg");
                background-color: #001414;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            main {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                flex: 1;
                align-items: center;
                color: white;
                padding-top: 32px;
                width: 100%;
            }

            h1 {
                font-size: 1.875rem /* 30px */;
                line-height: 2.25rem /* 36px */;
                font-weight: bold;
            }
            h2 {
                font-size: 1.5rem /* 20px */;
                line-height: 1.75rem /* 28px */;
                font-weight: bold;
            }
            h3 {
                font-size: 1.1rem /* 20px */;
                line-height: 1.75rem /* 28px */;
                font-weight: 500;
            }

            .scrollbar-hide::-webkit-scrollbar {
                display: none !important;
            }

            /* For IE, Edge and Firefox */
            .scrollbar-hide {
                -ms-overflow-style: none !important; /* IE and Edge */
                scrollbar-width: none !important; /* Firefox */
            }
            .no-drag {
                user-drag: none;
                -webkit-user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
        </style>
    </body>
</html>
