---
import { ViewTransitions } from "astro:transitions";
import LanguageSVG from "../icons/language.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  desc: string;
  lang?: "en" | "es";
}

const { lang = "en", title, desc } = Astro.props;
---

<script>
  const favicon = document.getElementById("favicon") as HTMLLinkElement;

  document.addEventListener("visibilitychange", () => {
    const hidden = document.hidden;

    favicon.setAttribute("href", `/favicon${hidden ? "-hidden" : ""}.ico`);
  });
</script>

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta
      name="robots"
      content="[index, follow | noindex, follow | index, nofollow]"
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content="/favicon.ico" />
    <meta property="og:url" content="pablogamero.com" />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:card" content="[summary | summary_large_image]" />
    <meta name="twitter:image" content="/favicon.ico" />

    <link rel="canonical" href="pablogamero.com" />
    <ViewTransitions />
  </head>

  <body>
    <Header lang={lang} />

    <main>
      <slot />
    </main>

    <Footer />
    <style is:global>
      :root {
        --primary: #f8f8f8;
        --secondary: #f8f8f8;
        --accent: #f8f8f8;
        --background: #f8f8f8;
        --text: #f8f8f8;
        --shadow: #f8f8f8;
      }

      * {
        font-family: "Satoshi", sans-serif;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      :root {
        --background-color: lightgreen;
        --primary: #61ccba;
        --black: #1e1e1e;
        --white: #f1f1f1;
        --secondary: #4b98ca;
      }

      body {
        background: url("/images/background.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }

      main {
        display: flex;
        flex-direction: column;
        padding-inline: 64px;
        box-sizing: border-box;
        height: 100%;
        justify-content: center;
      }

      .content {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        padding: 32px;
        overflow-y: scroll;
        height: fit-content;
        min-width: 300px;
        width: fit-content;
        max-width: min(calc(100vw - 64px), 1000px);
        max-height: calc(100vh - 112px);
        align-self: center;
        animation: transitionIn 1s;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      h2 {
        font-size: 2rem;
        font-weight: bold;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      @keyframes transitionIn {
        from {
          transform: scale(0.8);
        }
        to {
          transform: scale(1);
        }
      }
      @keyframes slideInBottom {
        0% {
          opacity: 0;
          transform: translateY(20%);
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes slideInLeft {
        0% {
          opacity: 0;
          transform: translateX(-20%);
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes slideInRight {
        0% {
          opacity: 0;
          transform: translateX(20%);
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      @keyframes slideInTop {
        0% {
          opacity: 0;
          transform: translateY(-20%);
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </body>
</html>
