---
import { ViewTransitions } from "astro:transitions";
import LanguageSVG from "@/icons/language.astro";

interface Props {
  title: string;
  desc: string;
  lang: "en" | "es";
}

const { title, lang, desc } = Astro.props;
const path = Astro.url.pathname;
console.log(path);
---

<script>
  const favicon = document.getElementById("favicon") as HTMLLinkElement;

  document.addEventListener("visibilitychange", () => {
    const hidden = document.hidden;

    favicon.setAttribute("href", `/favicon${hidden ? "-hidden" : ""}.ico`);
  });
</script>

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link id="favicon" rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta
      name="robots"
      content="[index, follow | noindex, follow | index, nofollow]"
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content="/favicon.ico" />
    <meta property="og:url" content="pablogamero.com" />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={desc} />
    <meta name="twitter:card" content="[summary | summary_large_image]" />
    <meta name="twitter:image" content="/favicon.ico" />

    <link rel="canonical" href="pablogamero.com" />
    <ViewTransitions />
  </head>

  <body>
    <!-- <Header/> -->
    <div class="absolute min-[750px]:top-6 left-6 bottom-6 flex gap-2">
      <div
        class="z-[999] aspect-square flex items-center justify-center bg-gradient-to-br from-white/50 max-[750px]:from-white/80 to-white/10 max-[750px]:to-white/30 shadow-2xl rounded-lg size-8"
      >
        <LanguageSVG />
      </div>
      <a
        href="/"
        class={`z-[999] bg-gradient-to-br flex items-center justify-center from-white/50 max-[750px]:from-white/80 to-white/10 max-[750px]:to-white/30 shadow-2xl rounded-lg h-8 w-8 ${path === "/" ? "border" : ""}`}
      >
        EN
      </a>
      <a
        href="/es"
        class={`z-[999] bg-gradient-to-br flex items-center justify-center from-white/50 max-[750px]:from-white/80 to-white/10 max-[750px]:to-white/30 shadow-2xl rounded-lg h-8 w-8 ${path === "/es" ? "bg-primary" : ""}`}
      >
        ES
      </a>
    </div>

    <main>
      <slot />
    </main>
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

      :root {
        --background-color: lightgreen;
        --primary: #61ccba;
        --primary-black: #0a1413;
        --primary-white: #effaf8;
        --secondary: #4b98ca;
      }

      * {
        font-family: "Oxygen", sans-serif;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      body {
        background: url("/images/background.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }

      main {
        position: relative;
        height: 100%;
        width: 100%;
      }

      li {
        list-style: square;
      }
    </style>
  </body>
</html>
